<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /proba
RewriteRule ^/proba/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /proba/index.html [L]
</IfModule>